/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    background-color: black;
}

#profile {
    border: 1px solid black;
    border-radius:10px ;
    width: 25%;
    margin: 2em auto;
    text-align: center;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 1.5em;
}

img {
    height: 4em;
    border-radius: 50%;
}

.para-one {
    margin-top: 1.1em;
    font-size: 1.5em;
    line-height: 5px;
}

.para-two {
    margin-top: 1.4em;
    line-height: 15px;
    color: hsl(75, 94%, 57%);
    font-size: small;
}

.para-three {
    margin-top: 2em;
    font-size: small;
   
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
}
button:hover{
    background-color:hsl(75, 94%, 57%) ;
    color:hsl(0, 0%, 20%) ;
}

@media screen and (max-width:431px) {
  #profile{
      width:90%;
      height: 40em;
      margin: 4.2em auto;
  }
  button{
      padding: 15px;
  }
  img{
    height: 6em;
  }
  }
@media screen and (max-width:375px) {
#profile{
    width:90%;
    height: 37em;
    margin: 4.2em auto;
}
button{
    padding: 10px;
}
}
